<?xml version="1.0"?>
<robot name="eye_robot">

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>  <!-- Weißes Material -->
  </material>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>  <!-- Graues Material -->
  </material>

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>  <!-- Schwarzes Material für Basis -->
  </material>

  <link name="base_link"/>

  <!-- Motor 1 (horizontal) -->
  <link name="motor_1">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.2"/> <!-- Motor hat eine Zylinderform -->
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="rotate_1">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.05"/> <!-- Motor hat eine Zylinderform -->
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="spin_box_1">
    <visual>
      <geometry>
        <box size="0.03 0.5 0.006"/> <!-- Motor hat eine Zylinderform -->
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="wire_1">
    <visual>
      <geometry>
        <cylinder radius="0.003" length="0.5"/> <!-- Motor hat eine Zylinderform -->
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

   <!-- Motor 1 mit Basis verbunden (fixiert) -->
  <joint name="base_motor1" type="fixed">
    <parent link="base_link"/>
    <child link="motor_1"/>
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </joint>

  <joint name="motor_rotate_1" type="revolute">
    <parent link="motor_1"/>
    <child link="rotate_1"/>
    <origin xyz="0.125 0 0" rpy="0 -1.57 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="10.0" velocity="1.0"/>
  </joint>

  <joint name="rotate_spin_1" type="fixed">
    <parent link="rotate_1"/>
    <child link="spin_box_1"/>
    <origin xyz="0 0 -0.03" rpy="0 0 0" />
  </joint>

  <!-- Draht mit Gegenrotation-->
  <joint name="spin_wire_1" type="revolute">
    <parent link="spin_box_1"/>
    <child link="wire_1"/>
    <origin xyz="0 0.5 0" rpy="1.57 0 0" />
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="10.0" velocity="1.0"/>
  </joint>
</robot>
